body {
	background-color: teal;
	color: salmon;
	font-size: 28px;
	font-family: "Futura";
}

.appointments {
	color: green;
}
.yelp-image{
	background-size:cover;
	width:100px;
	height:100px;
}
.flex{
	display:flex;
	justify-content: space-between;
	width:60%;
	border:2px solid black;
	background-color:white;
	margin:10px auto;

}
.result{
	width:30%;
}
.center{
	/*margin:0 auto;*/
	text-align: center;
}
.logo{
	background-image: url("https://cdn.worldvectorlogo.com/logos/yelp.svg");
	background-size:100% 100%;
	width:300px;
	height:150px;
	margin:0 auto;
}
